.nav-container {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 0 30px;
  color: #989090;
}
.starting {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-right: 150px;
}

.location-icon {
  color: #989090;
}

.location {
  font-size: 15px;
  font-weight: 600;
}

.ending {
  display: flex;
  list-style-type: none;
  gap: 50px;
}

.ending li {
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.active {
  background-color: #cf2d2d;
  width: 100px;
  text-align: center;
  padding-top: 5px;
  height: 30px;
  border-radius: 5px;
  color: #000;
  margin-top: -5px;
  /* transition: all 0.5s; */
}

/* .active:hover {
  background-color: rgba(207, 45, 45, 0.9);
} */
