.upcomming-container {
  padding: 0 80px;
  display: flex;
  margin-bottom: 30px;
}

.heading-upcomming {
  display: flex;
  margin-left: -90px;
  align-items: center;
  justify-content: flex-start;
}

.ul-container-up {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  list-style-type: none;
  max-width: 1020px;
  margin-left: 90px;
}

.ul-min {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.li-container-up {
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid #b0babf;
  margin: 10px 0 10px 20px;
  border-radius: 4px;

  position: relative;
}

.img-up {
  width: 300px;
  height: 300px;
}
.data-container {
  position: absolute;

  bottom: 100px;
  left: 15px;
  color: rgb(255, 255, 255);
  padding: 5px;
  width: 90%;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.event-name {
  padding: 10px;
  font-weight: 600;
}

.date-location-up-container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  color: #b0babf;
  font-weight: 600;
  gap: 10px;
}

.loction-up-containe {
  display: flex;
  align-items: center;
  font-size: 12px;
  gap: 10px;
}
